.imageAlternatelySection {
  $p: &;
  position: relative;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__header {
    width: 100%;
    position: relative;
    padding-bottom: 50px;

    @include rwd('small-tablet') {
      width: gridPart(9, 7, 0);
    }

    @include rwd('large-tablet') {
      width: 100%;
    }

    .text {
      text-align: center;

      &__text {
        font-weight: $fw-light;
      }
    }
  }

  &__more {
    margin-top: 2rem;
  }

  &__cards {
    width: 100%;
    margin-top: 3rem;

    @include rwd('large-tablet') {
      width: 100%;
      margin-top: 0;
    }
  }

  &__card {
    padding: 2rem 0;
    border-bottom: 1px solid $c-gray-3;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    

    .imageDotCard__imageInner {
      .imageBox {
        display: flex;
        justify-content: center;

        img {
          width: 70%;
        }
      }
    }
  }
}