.otherBenefits{
  display: flex;
  flex-direction: column;



  &__header{
    text-align: center;
  
    h4{
      color: black;
    }
  }



  &__tiles{
    padding-top: 40px;
    display: grid;

    @include rwd('small-tablet'){
      grid-template-columns: repeat(2,1fr);

    }
    @include rwd('large-tablet'){
      grid-template-columns: repeat(3,1fr);
      gap: 25px;
    }

  }
}