.quizBanner {
  $p: &;
  position: relative;
  overflow: unset;

  &__wrapper {
    position: relative;
    border-radius: .5rem;
    padding: 4rem 3rem;
    background-color: $c-prim-3;

    @include rwd('tablet') {
      padding: 4rem 8rem;
    }
  }

  &__text {

    @include rwd('small-tablet') {
      max-width: 58%;
    }

    .text {
      &__text {
        font-weight: $fw-light;
      }
    }
  }

  &__button {
    margin-top: 2rem;
  }

  &__image {
    width: 70%;
    margin-top: 3rem;

    @include rwd('large-phone') {
      width: 50%;
    }

    @include rwd('small-tablet') {
      position: absolute;
      right: 0;
      bottom: -2rem;
      max-width: 40%;
      margin-top: 0;
    }
  }
}