.textImageSection {
  $p: &;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include rwd('large-tablet') {
      flex-wrap: nowrap;
    }

    #{$p}--imageLeft & {
      justify-content: unset;
    }
  }

  &__text {
    @include rwd('tablet') {
      width: gridPart(9, 8, 0);
    }

    @include rwd('large-tablet') {
      width: gridPart(5, 5, 0);
    }

    .text {
      &__text {
        font-weight: $fw-light;
      }
    }

    #{$p}--imageLeft & {
      @include rwd('large-tablet') {
        width: gridPart(5, 4, 0);
        margin-left: gridPart(1, 2, 0);
      }
    }
  }

  &__button {
    margin-top: 1.6rem;
  }

  &__image {
    position: relative;
    margin-top: 3rem;

    #{$p}--imageLeft & {
      margin-top: 0;
      margin-bottom: 3rem;
    }

    @include rwd('tablet') {
      width: gridPart(7, 6, 0);
    }

    @include rwd('large-tablet') {
      width: gridPart(5, 5, 0);
      margin-top: 0;
    }

    #{$p}--imageLeft & {
      @include rwd('large-tablet') {
        width: gridPart(5, 4, 0);
        margin-top: 0;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        transition: transform $tr;
      }

      &::before {
        border-radius: 50%;
        top: 5rem;
        left: -50px;
        width: 80px;
        height: 80px;
        background-color: $c-prim-2;

        @include rwd('large-tablet') {
          width: 130px;
          height: 130px;
        }
      }

      &::after {
        z-index: 2;
        right: -45px;
        bottom: -35px;
        width: 60px;
        height: 60px;
        background-image: url('../images/ellipse_rose.svg');
        background-size: cover;
        background-repeat: no-repeat;

        @include rwd('large-tablet') {
          top: unset;
          width: 95px;
          height: 95px;
        }
      }

      &:hover {
        &::after {
          transform: scale(1.03);
        }

        &::before {
          transform: rotate(45deg) scale(1.02);
        }
      }
    }
  }
}