.loader {
  $p: &;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($c-white, .5);
  width: 100%;
  height: 100%;

  &__spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: $c-prim-1;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}