.skillsTest {
  $p: &;
  position: relative;

  &__wrapper {
    position: relative;
    width: 100%;
    padding-top: 88%;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}