.tag {
  $p: &;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;

  &--theme {
    &-default {
      color: $c-purple-1;
    }
  }

  &__text {
    font-weight: $fw-light;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity $trM, transform $trM;

    #{$intersect} & {
      opacity: 1;
      transform: translateX(0);
    }
  }
}