.pagination {
  $p: &;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__prev,
  &__next,
  &__label,
  &__current,
  &__of {
    margin: 1rem 0;
  }
}