/* Example of use is at the bottom of file */

@mixin rtl($isRtl : true) {
  @if ($isRtl != false) {
    html[dir=rtl] & {
      @content;
    }
  } @else {
    html:not([dir=rtl]) & {
      @content;
    }
  }
}

/*

  Example:

    div {
      float: left;

      @include rtl() {
        float: right;
      }
    }

  Result:

    div {
      float: left;
    }

    html[dir=rtl] div {
      float: right;
    }

*/