.pageForm {
  $p: &;
  position: relative;

  &__wrapper {
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 2rem;
    border-radius: 1.6rem;
    background-color: $c-black;

    @include rwd('tablet') {
      padding: 3rem 5rem;
    }

    @include rwd('laptop') {
      padding: 5rem 8rem;
    }

    span {
      color: $c-white;
    }
  }

  &__circle {
    display: none;
    position: absolute;
    z-index: -1;
    width: 20%;
    left: 0;
    bottom: 0;

    @include rwd('tablet') {
      display: block;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      padding-top: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translate(-5%, -75%);
      background-image: url('../images/circles.svg');
    }
  }

  &__subtitle {
    font-size: 1.6rem;
    font-weight: $fw-light;

    @include rwd('laptop') {
      font-size: 2rem;
    }
  }

  &__form {
    margin: -.8rem;
    margin-top: 2rem;
  }
}