$page-section: ".section";
$header: '.header';
$background: ".bg";
$text-slider: ".textSlider";
$timeline-slider: ".timelineSlider";
$bottom-links: ".bottomLinks";
$scroll-down: ".scrollDown";
$sticky-header: ".stickyHeader";
$breadcrumbs: '.breadcrumbs';
$cards-section: '.cardsSection';
$bio-card: '.bioCard';
$newsroom-header: '.newsroomHeader';

$intersect: '.intersect';
$speakersSection: '.speakersSection';