.faqCard {
  $p: &;
  position: relative;
  width: 100%;
  padding: 2rem;
  border-radius: .8rem;
  background-color: $c-white;
  box-shadow: $b-sh-gray;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__question,
  &__answer {
    font-weight: $fw-light;
  }

  &__question {
    color: $c-black;
    padding-right: 2rem;

    &--green {
      color: $c-green-1;
    }

    &--yellow {
      color: $c-prim-1;
    }

    &--red {
      color: $c-red-2;
    }
  }

  &__answer {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: margin $tr, max-height $tr, opacity $tr;

    #{$p}.active & {
      margin-top: 2rem;
      max-height: 1000px;
      opacity: 1;
      visibility: visible;
    }
  }

  &__toggle {
    &Button {
      &Icon {
        color: $c-prim-1;
        font-size: 1.6rem;

        @include rwd('tablet') {
          font-size: 2rem;
        }

        @include rwd('laptop') {
          font-size: 2.4rem;
        }
      }
    }
  }
}