.PersonTileCard{
  padding-top: 20px;

  &__about{

  }
  &__name{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h5{
color: #000;    
border-left: 3px solid #5026D9;
padding-left: 10px;
}

}
&__desc{
  padding-left: 15px;
  font-weight: 300;
}

  &__img{
    width: 100%;
  img{
    width: 100%;
    border-radius: 0.8rem;
  }
  }
}